*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.container {
    align-items: center;
    overflow: hidden;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 500px;
    width: 100%;
    padding: 25px;
    background: rgb(201, 210, 215);
    border-radius: 20px;
    margin: 150px auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    animation: fadeIn 1.5s ease-in-out;
}

.container.dark-mode {
    background-color: #333;
}

.display {
    font-size: 5rem;
    font-weight: bolder;
    margin-bottom: 20px;
    user-select: none;
}

.controls {
    margin-bottom: 10px;
}

.controls button {
    margin:10px 5px;
    padding: 10px 20px  10px 20px;
    font-size: 1rem;
    cursor: pointer;
    transition:all 0.3s ease;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.controls button:hover {
    background-color: #492121;
    color: white;
    border: 0.5px solid black;
    transform: scale(1.05);
}

.input-container {
    margin-bottom: 20px;
}

#countdownInput {
    padding: 10px;
    font-size: 1em;
    width: calc(100% - 22px);
    max-width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#darkModeToggle {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    border: none;
    border-radius: 5px;
}

#darkModeToggle:hover {
    background-color: #000000;
    color: white;
}

.laps {
    text-align: left;
    margin-top: 20px;
    max-height: 200px;
    overflow-y: auto;
    padding-right: 10px;
}

.laps div {
    margin-bottom: 5px;
    font-size: 1.2em;
    animation: fadeIn 0.5s;
}

footer {
    background: rgb(87, 88, 106);
    color: #ffffff;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    user-select: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 600px) {
    .display {
        font-size: 2rem;
    }
    .container {
        max-width: 380px;
    }

    .controls button {
        padding: 8px;
        margin: 4px;
        font-size: 0.9em;
    }
}
